<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are super awesome and super cool. We do all sorts of things and people are really into it.
  If you want to learn more about us, check us out at:
  <a href="http://facebook.com/">Facebook</a>
  or
  <a href="http://linkedin.com/">LinkedIn</a>
</p>
