<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the internet, see
  <a href="http://google.com">Google</a>.
  To get help on general problems, see
  <a href="http://wikipedia.org/">Wikipedia</a>.
</p>
